<div class="option-button">
    <b style="width: @TextWidth" class="option-text">@Title</b>
    <button class="left-toggleButton toggleButton @leftButtonActive" disabled="@IsDisabled" @onclick="SelectLeft">@LeftText</button>
    <button class="right-toggleButton toggleButton @rightButtonActive" disabled="@IsDisabled" @onclick="SelectRight">@RightText</button>
</div>

