<div class="option-button">
    <b style="width: @TextWidth" class="option-text">@Title</b>
    <div class="buttons-container">
        <button class="left-toggleButton toggleButton @LeftButtonClass" disabled="@IsDisabled" @onclick="SelectLeft">@LeftText</button>
        <button class="right-toggleButton toggleButton @RightButtonClass" disabled="@IsDisabled" @onclick="SelectRight">@RightText</button>
    </div>
</div>

